.bottombar {
  width: calc(100% - 1.7rem);
  height: 4.5rem;
  background-color: rgba(72, 72, 72, 0.516);
  color: whitesmoke;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
}

a {
  width: 3rem;
  text-decoration: none;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
a p {
  display: none;
  font-size: 0.7rem;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
a img {
  width: 2.5rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

a svg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 0.4rem;
  font-weight: 300;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.active svg,
.active img {
  transform: translateY(-50%);
  background-color: rgb(216, 2, 55);
  border: 3px solid rgba(0, 0, 0, 0.845);
  padding: 0.2rem;
}
.active p {
  display: block;
  transition: all 0.3s ease-in-out;
  transform: translateY(-100%);
}
