.list-container {
  width: 100%;
  margin-top: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glass-table {
  width: 100%;
  margin-bottom: 0.7rem;
  padding: 1rem;
}

.glass-table th,
.glass-table td {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: left;
}

.glass-table th {
  font-size: 0.8rem;
  color: #c3c3c3;
  font-weight: 400;
  text-transform: uppercase;
}

.glass-table td {
  color: #a6a6a6;
  font-size: 0.7rem;
  font-weight: 400;
}

.glass-table :nth-child(even) tr {
  cursor: pointer;
  background-color: #00000029;
  transition: all 0.3s ease-in-out;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  margin: 0 5px;
  padding: 0.1rem;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: #c7c7c7;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, border 0.3s;
}

.pagination-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.add-item-button {
  padding: 0.4rem 1.4rem;
  margin-top: 0.7rem;
  background-color: rgb(0, 175, 12);
  border: none;
  box-shadow: 0px 0px 5px rgb(66, 66, 66);
  border-radius: 0.8rem;
  color: whitesmoke;
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-align: center;
}

.add-item-button svg {
  color: whitesmoke;
}

/* Extra Small Devices, Phones (Portrait) */
@media only screen and (max-width: 600px) {
  .glass-table {
    padding: 1rem;
  }
}

/* Small Devices, Phones (Landscape) */
@media only screen and (max-width: 825px) {
}

/* Medium Devices, Tablets */
@media only screen and (min-width: 769px) and (max-width: 992px) {
}

/* Large Devices, Desktops */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
}

/* Extra Large Devices, Wide Screens */
@media only screen and (min-width: 1201px) {
}

/* Orientation-specific styles */
@media only screen and (orientation: landscape) {
}

@media only screen and (orientation: portrait) {
}
