.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to left bottom,
    #663f55,
    #633d5c,
    #5e3b64,
    #543c6c,
    #453d75,
    #354077,
    #224377,
    #004576,
    #00476b,
    #00475d,
    #00454d,
    #0b423f
  );
  /* background-image: url("../../image/admin_bg.jpg"); */
  background-size: cover;
  /* background-repeat: no-repeat; */
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
}

/* Extra Small Devices, Phones (Portrait) */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0;
  }
}

/* Small Devices, Phones (Landscape) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
}

/* Medium Devices, Tablets */
@media only screen and (min-width: 769px) and (max-width: 992px) {
}

/* Large Devices, Desktops */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
}

/* Extra Large Devices, Wide Screens */
@media only screen and (min-width: 1201px) {
}

/* Orientation-specific styles */
@media only screen and (orientation: landscape) {
}

@media only screen and (orientation: portrait) {
}
