.container {
  max-width: 1400px;
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(
    to left bottom,
    #590032,
    #53043c,
    #4a0b45,
    #3e134d,
    #2d1954,
    #2b174c,
    #281644,
    #25143d,
    #260e2a,
    #200a1b,
    #16040e,
    #000000
  );
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-repeat: repeat;
  background-size: auto; /* Arka planın doğal boyutunda tekrar etmesini sağlar */
  margin: 0 auto;
  padding: 1rem;
}

/* Extra Small Devices, Phones (Portrait) */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0;
  }
}

/* Small Devices, Phones (Landscape) */
@media only screen and (max-width: 768px) {
}

/* Medium Devices, Tablets */
@media only screen and (min-width: 769px) and (max-width: 992px) {
}

/* Large Devices, Desktops */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
}

/* Extra Large Devices, Wide Screens */
@media only screen and (min-width: 1201px) {
}

/* Orientation-specific styles */
@media only screen and (orientation: landscape) {
}

@media only screen and (orientation: portrait) {
}
