.container {
  max-width: 1400px;
  height: 100vh;
  background-image: linear-gradient(
    to bottom left,
    #000000,
    #200512,
    #310523,
    #41013a,
    #4a0057,
    #660063,
    #83006d,
    #a00075,
    #cb0d63,
    #e83b4b,
    #f5672f,
    #f49400
  );
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
}

/* Extra Small Devices, Phones (Portrait) */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0;
  }
}

/* Small Devices, Phones (Landscape) */
@media only screen and (max-width: 768px) {
}

/* Medium Devices, Tablets */
@media only screen and (min-width: 769px) and (max-width: 992px) {
}

/* Large Devices, Desktops */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
}

/* Extra Large Devices, Wide Screens */
@media only screen and (min-width: 1201px) {
}

/* Orientation-specific styles */
@media only screen and (orientation: landscape) {
}

@media only screen and (orientation: portrait) {
}
