.bottom-bar {
  width: 35%;
  height: 3rem;
  background: #000000aa;
  border: 1px solid rgb(137, 134, 134);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 2;
  margin-top: 0.2rem;
}

.bottom-bar .bottom_icon {
  padding: 0.3rem;
  font-size: 1.4rem;
  display: flex;

  background: #1718003c;
  border: 0.8px solid rgb(133, 133, 133);
  border-radius: 30%;
  color: rgb(231, 231, 231);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.bottom-bar .active {
  color: #2a2a2a; /* Change color for active icon */
  z-index: 1;
  background: #e1ce01;
  border-radius: 50%;
  box-shadow: 0px 0px 7px rgb(255, 255, 255);
}

.hookah {
  height: 1.5rem;
  width: 1.5rem;
}

._sub {
  align-self: flex-end;
}

@media only screen and (max-width: 1000px) {
  /* Tablet ve mobil cihazlar için */
  .bottom-bar {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet ve mobil cihazlar için */
  .bottom-bar {
    width: 80%;
  }
}
@media only screen and (max-width: 480px) {
  /* Küçük ekranlar (mobil cihazlar) için */
  .bottom-bar {
    width: 80%;
  }
}
