.sub-category {
  /* transform: rotate(90deg); */

  align-self: flex-end;
}

.custom-select {
  color: black;
  appearance: none; /* Remove default select styles */
  background: #e1ce01eb; /* Set semi-transparent white background */
  backdrop-filter: blur(30px); /* Apply blur effect */

  border: 0.1px solid #4a4a4a;
  outline: none;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px whitesmoke;
  padding: 0.7rem 1.4rem; /* Add some padding */
  font-size: 0.6rem;

  cursor: pointer; /* Indicate clickable area */
}

.custom-select:focus {
  outline: none; /* Remove default focus outline */
}
