._user_media {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.845);
  color: rgb(203, 203, 203);
  backdrop-filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
  /* padding: 1rem; */
}

.top {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 300ms ease-in-out;
  padding: 0 1rem;
}

.top ._social_logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
._social_logo svg {
  font-size: 1.8rem;
  fill: rgb(216, 2, 55);
}
._social_logo p {
  font-size: 1rem;
  font-weight: 400;
}

._search_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem;
}

._search_items ._search_area {
  outline: none;
  border: none;
  padding: 0.25rem 0.4rem;
  border-radius: 0.8rem;
  font-size: 16px;
  background: transparent;
  color: rgb(203, 203, 203);
}

._search_items ._search_area::placeholder {
  font-size: 0.7rem;
}
._search_items svg {
  padding-right: 0.5rem;
  font-size: 1.8rem;
  font-weight: 300;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
._search_items .user {
  font-size: 2.2rem;
  margin-left: 0.5rem;
}

._stories {
  background-color: rgba(72, 72, 72, 0.516);
  padding: 0.4rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  place-items: center;
  border-radius: 1rem;
  overflow-x: hidden;
}
._story {
  width: 3.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

._stories :nth-child(1) svg {
  padding: 0;
  font-size: 3rem;
  color: rgba(216, 2, 55, 0.744);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 5px whitesmoke;
}
._story img {
  width: 100%;
  border-radius: 50%;
  padding: 1px;
  border: 1px solid rgba(216, 2, 55, 0.744);
}
._story p {
  margin-top: 0.5rem;
  font-size: 0.5rem;
  font-weight: 400;
}
._share {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  margin-top: 2rem;
  background-color: rgba(72, 72, 72, 0.516);
}
._share ._head {
  display: flex;
}
._share ._head ._textarea {
  width: 100%;
  background-color: transparent;
  color: rgb(203, 203, 203);
  font-size: 16px;
  outline: none;
  border: none;
  padding-left: 1rem;
}
._share ._head ._textarea::placeholder {
  font-size: 0.7rem;
}

._share ._head img {
  width: 2rem;
  aspect-ratio: 1/1;
}

._share_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._share_icons .icon svg {
  font-size: 2rem;
  padding: 0.2rem;
}
._share_icons button {
  padding: 0.4rem 0.7rem;
  background-color: rgba(14, 14, 14, 0.841);
  color: rgb(210, 210, 210);
  font-weight: 200;
  font-size: 0.8rem;
}
