._hero {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: auto;
}
._hero_bg {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
._hero_bg img {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.__hero {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
}

._hero_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
._title {
  color: #eee;
  align-self: start;
  font-weight: 300;
  font-size: 2.4rem;
  padding-bottom: 1.4rem;
  text-shadow: 0px 0px 10px #000000;
}

._text {
  color: #ffffffd5;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  text-shadow: 0px 0px 10px #000000;
}

._hero_left a {
  text-decoration: none;
  padding: 0.7rem 2rem;
  align-self: start;
  margin-top: 1rem;
  outline: none;
  border: 1px solid #000000;
  border-radius: 2rem;
  background-color: #c59e00;
  color: #000000c9;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

._hero_right {
  animation: textAnimation 10s linear infinite;
}

._hero_right img {
  width: 20rem;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  } /* Başlangıç pozisyonu */
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  } /* Bitiş pozisyonu */
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Metni dikey ve yatay olarak merkezlemek için */

  font-size: 24px;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text_rot {
  color: #eee;
  padding: 0.3rem;
  font-size: 1.7rem;
  text-shadow: 0px 0px 10px #000000;
}

.rotating-svg {
  animation: rotate 40s linear infinite;
  -webkit-animation: rotate 40s linear infinite;
  /* -webkit-animation: rotate 15s linear infinite; */
  transform-origin: 50% 50%; /* Rotasyonun merkezini SVG'nin merkezi olarak ayarlamak için */
  -webkit-transform-origin: 50% 50%;
}

.rotating-img {
  animation: rotate 30s linear infinite;
  -webkit-animation: rotate 30s linear infinite;
  transform-origin: 50% 50%; /* Rotasyonun merkezini SVG'nin merkezi olarak ayarlamak için */
  -webkit-transform-origin: 50% 50%;
}

/* Media Query Şablonu */

@media only screen and (max-width: 767px) {
  /* Tablet ve mobil cihazlar için */
  .circle-container {
    height: fit-content;
  }
  .__hero {
    height: 100%;
    top: 0;
    flex-direction: column-reverse;
    align-items: center;
  }
  ._title {
    align-self: center;
    text-shadow: 0px 0px 10px #000000;
  }
  ._text {
    font-weight: 300;
    text-align: center;
    text-shadow: 0px 0px 8px #000000;
  }
  ._hero_left {
    padding: 0.4rem 1rem;
  }

  ._hero_left a {
    align-self: center;
  }
}
@media only screen and (max-width: 480px) {
  /* Küçük ekranlar (mobil cihazlar) için */
  .__hero {
    height: 100%;
    justify-content: space-evenly;
    /* background: lawngreen; */
    top: -8%;
    transform: translate(-50%, 5%);
  }
}
