.__header {
  width: auto;
  background-color: rgb(219, 219, 219);
  /* background-color: rgba(255, 255, 255, 0.635); */
  backdrop-filter: blur(25px);
  box-shadow: 0px 0px 2px whitesmoke;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.__header .menu_icon {
  display: none;
}
.close {
  display: none;
}

.head {
  display: flex;
  align-items: center;
}
.head .txt {
  padding: 0 0.6rem;
}
.top_menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.top_menu svg {
  color: rgba(0, 0, 0, 0.886);
  font-size: 1.2rem;
}

.head p {
  font-size: 0.65rem;
  color: rgba(0, 0, 0, 0.886);

  font-weight: 500;
}

.head .txt .admin {
  font-size: 0.6rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.886);
}

.head img {
  width: 2rem;
  padding: 0.1rem;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
  border-radius: 50%;
  margin-bottom: 0.2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.menu ul {
  width: 100%;
  padding: 0.5rem 1rem;
}
ul span {
  display: flex;
  align-items: stretch;
  width: 70%;
  padding-top: 0.5rem;
  border-bottom: 1px solid rgb(113, 113, 113);
  margin: 0 auto;
}

.menu ul li {
  cursor: pointer;
}

.menu ul li a {
  height: auto;
  margin-bottom: 0.7rem;
  border-radius: 0.7rem;
  padding: 0.3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.menu ul li a:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.menu .active {
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
}
.menu ul li a svg {
  font-size: 1.2rem;
  margin-right: 1.3rem;
}
.menu ul li:nth-child(1) a {
  color: rgba(0, 241, 64, 0.835);
}
.menu ul li:nth-child(2) a {
  color: rgba(72, 0, 241, 0.897);
}
.menu ul li:nth-child(3) a {
  color: rgba(241, 68, 0, 0.897);
}
.menu ul li:nth-child(4) a {
  color: rgba(241, 193, 0, 0.897);
}
.menu ul li:nth-child(5) a {
  color: rgba(189, 0, 241, 0.897);
}

.menu ul li a p {
  font-weight: 500;
  font-size: 0.64rem;
  color: rgba(0, 0, 0, 0.886);
}

.logout {
  padding: 0.5rem 1rem;
}

.logout li {
  list-style: none;
}

.logout li a {
  text-decoration: none;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout li a svg {
  width: 1.5rem;
  height: 1.5rem;
  color: rgba(191, 0, 0, 0.819);
  font-size: 1.3rem;
  margin-right: 1.3rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px rgba(191, 0, 0, 0.819);
}

.logout li a p {
  color: rgba(0, 0, 0, 0.886);
  font-weight: 500;
  font-size: 0.64rem;
}

/* Extra Small Devices, Phones (Portrait) */
@media only screen and (max-width: 600px) {
  .__header {
    width: auto;
    position: fixed;
    left: 0.7rem;
    top: 0.7rem;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
  }
  .sidebar {
    display: none;
  }
  .close {
    display: block;
  }

  .__header .menu_icon {
    display: block;
    color: rgba(0, 0, 0, 0.886);
    font-size: 1.7rem;
    padding: 0.23rem;
  }
}

/* Small Devices, Phones (Landscape) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
}

/* Medium Devices, Tablets */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .menu {
    align-items: center;
    justify-content: space-between;
  }
  /* .menu ul li a */
  .menu ul li a {
    padding: 0.6rem 0.3rem;
    margin: 0;
    flex-direction: column;
  }
  .menu ul li a svg {
    margin: 0;
  }
  .menu ul li a p {
    font-size: 0.6rem;
    text-wrap: nowrap;
    padding-top: 0.3rem;
  }
  .logout li a {
    padding: 0;
    flex-direction: column;
  }
  .logout li a p {
    padding-top: 0.5rem;
    text-wrap: nowrap;
  }
  .logout li a svg {
    margin: 0;
  }
  .head {
    flex-direction: column;
  }
  .head p {
    display: none;
  }
  .top_menu {
    justify-content: center;
  }
  .top_menu svg {
    display: none;
  }
  ul span {
    width: 90%;
  }
}

/* Large Devices, Desktops */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
}

/* Extra Large Devices, Wide Screens */
@media only screen and (min-width: 1201px) {
}

/* Orientation-specific styles */
@media only screen and (orientation: landscape) {
}

@media only screen and (orientation: portrait) {
}
